
@media (max-width: 1280px){
    /* MAIN */
    .presentation h2 {
        width: 63%;
    }
    .about h2 {
        width: 63%;
    }
    .info h2 {
        width: 35%;
    }
    .set button {
        height: 5vh;
    }
    .users div {
        width: 31%;
        height: 39vh;
    }
    .map {
        width: 7%;
        right: 19%;
    }
}


@media (max-width: 1114px) {
    /* HEADER */
    .home {
        width: 13%;
        position: relative;
        left: 2%;
    }
    .navegation {
        width: 38%;
    }
    button {
        width: 13%;
        right: 8%;
    }
    /* MAIN */
    .offer {
        width: 26vw;
        top: 10%;
    }
    .about button {
        width: 19vw;
        top: 7%;
    }
    .about h2 {
        width: 73%;
        top: 0%;
    }
    .info p {
        left: 0%;
    }
    .depositions h2 {
        left: 18%;
    }
    .depositions p {
        left: 18%;
    }
    .users p {
        left: 2%;
    }
}

@media (max-width: 834px) and (min-width: 800px){
    /* HEADER */
    header {
        height: 7vh;
        justify-content: space-between;
    }
    .home {
        width: 20%;
    }
    .home figcaption {
        font-size: 1.2rem;
    }
    .navegation {
        display: none;
    }
    button {
        width: 19%;
        height: 3.5vh;
        right: 4%;  
    }
    /* MAIN */
    .presentation {
        height: 89vh;
        flex-direction: column;
    }
    .presentation div {
        position: relative;
        bottom: 4%;
        right: 30%;
    }
    .presentation h2 {
        width: 155%;
        font-size: 3.5rem;
        font-weight: 700;
        position: relative;
        top: 7%;
    }
    .presentation p {
        width: 210%;
        height: 8vh;
        font-size: 1.4rem;
        font-weight: 600;
        position: relative;
        top: 3%;
    }
    .offer {
        width: 114%;
        height: 4vh;
        position: relative;
        top : 1%;
        font-size: 1.1rem;
    }
    .banner1 {
        width: 216%;
        position: relative;
        left: 2%;
        top: 6%;
    }
    .banner1 img {
        border-radius: 241px 0px 0px 241px;
    }
    .banner2 {
        bottom: 10%;
    }
    .banner2 img {
        width: 82%;
    }
    .about {
        flex-direction: column;
        height: 90vh;
    }
    .about button{
        width: 32vw;
        height: 4vh;
        font-size: 1.1rem;
        position: relative;
        left: 6%;
        top: 16%;
    }
    .about h2 {
        width: 98%;
        position: relative;
        left: 7%;
        top: 15%;
    }
    .about p {
        /* border: solid 1px red; */
        width: 87vw;
        font-size: 1rem;
        font-weight: 500;
        line-height: 25px;
        bottom: 4%;
        left: 8%;
    }
    #club{
        width: 79vw;
        bottom: 5%;
    }
    .about figure {
        width: auto;
        position: relative;
        bottom: 1%;
    }
    .about img {
        height: 37vh;
    }
    .info {
        height: 15vh;
    }
    .info p {
        font-size: 1.4rem;
    }
    .info h2 {
        font-size: 2.5rem;
        font-weight: 600;
    }