.presentation {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

.presentation div {
    width: 33%;
    height: 39vh;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
}

.presentation h2 {
    width: 62%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #0E3E29 ;
}

.presentation span {
    color: #FF7E1E;
}

.presentation p {
    width: 100%;
    height: 13vh;
    line-height: 145%;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #052014;
}

.offer {
    width: 66%;
    height: 7vh;
    position: relative;
    left: 0%;
    top: 6%; 
}

.banner1 {
    height: 30vh;
    width: 100%;
}

.banner1 img {
    width: 134.4%;
    border-radius: 174px 0px 0px 174px;
    border: 6px solid #FF7E1E;
    border-right: none;
}

.banner2 {
    position: relative;
    right: 5%;
}

.banner2 img {
    width: 70%;
}

.about {
    height: 83vh;
    background-color: #0E3E29;
    display: flex;
}

.about div {
    width: 60%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about figure {
    width: 50%;
    height: 83vh;
}

.about img {
    width: 100%;
    height: 83vh;
}

.about button {
    position: relative;
    left: 20%;
    top: 10%;
    width: 28%;
    height: 5vh;
}

.about h2 {
    width: 62%;
    display: flex;
    justify-content: space-evenly;
    height: 16vh;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #F5F5F5;
    position: relative;
    left: 20%;
    top: 3%;
}

.about p {
    width: 63%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 500;
    color: #F5F5F5;
    position: relative;
    left: 20%;
    bottom: 6%;
    line-height: 23px;
}

#club {
    position: relative;
    bottom: 12%;
}

.info {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info div {
    height: 28vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.info p {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #FF7E1E;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 4%;
}

.info h2 {
    width: 34%;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #052014;
    display: flex;
    justify-content: center;
}

.boxCards {
    height: 40vh;
    width: 76%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 12%;
}

.arrowLeft {
    width: 5%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 4%;
    z-index: 1;
}

.arrowLeft:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}

.arrowRight {
        width: 5%;
        display: flex;
        justify-content: center;
        position: relative;
        right: 5%;
        z-index: 1;
}

.arrowRight:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}

.boxCards div{
    background-color: #F7F7F7;
    width: 19%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boxCards div:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}

.boxCards img {
    width: 73%;
    position: relative;
    left: 12%;
    top: 30%;
}

.boxCards p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #052014;
}

.boxCards02 {
    height: 38vh;
    width: 76%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 12%;
}

.arrowLeft02 {
    width: 4%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 4%;
    z-index: 1;
}

.arrowLeft02:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}

.arrowRight02 {
        width: 4%;
        display: flex;
        justify-content: center;
        position: relative;
        right: 4%;
}

.arrowRight02:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}

.boxCards02 div{
    width: 19%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.boxCards02 div:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}

.boxCards02 img {
    width: 100%;
}

.line { 
    border-bottom: 5px solid #FF7E1E;
    border-radius: 10px;
    width: 2%;
    position: relative;
    left: 46%;
    margin-bottom: 10vh;
    
}

.depositions {
    border: solid 1px blue;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #0E3E29;
}

.depositions h2 {
    width: 70%;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #F5F5F5;
    position: relative;
    left: 23%;
    top: 56%;
}

.depositions p {
    width: 56%;
    font-family: 'Inter',sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #F5F5F5;
    line-height: 23px;
    position: relative;
    left: 23%;
    top: 68%;
}

.set {
    width: 9%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 9%;
    left: 72%;
}

.set button {
    position: relative;
    left: 1%;
    width: 25%;
    height: 6vh;
}

.set img {
    width: 141%;
}

.set img:hover {
    transition: 300ms linear;
    transform: scale(1.1);
}

.users {
    width: 71%;
    height: 52vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 13%;
    bottom: 4%;
}

.users div {
    border-radius: 4px;
    width: 30%;
    height: 50vh;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
}

.users div:hover {
    transition: 200ms linear;
    transform: scale(1.1);
}

.users p {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #0E3E29;
    text-align: center;
    width: 95%;
    position: relative;
    top: 7%;
    left: 2%;
} 
.users img {
    width: 31%;
    position: relative;
    left: 35%;
    top: 11%;
}
h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0E3E29;
    text-align: center;
    position: relative;
    top: 15%;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #0E3E29;
    text-align: center;
    position: relative;
    top: 14%;
}

.contact {
    height: 97vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}

.dados {
    width: 37%;
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    right: 4%;
}

.dados h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #052014;
}

.dados p {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    font-weight:600 ;
    color: #0E3E29;
}

.setaSearch {
    width: 4%;
}

.dados form {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.n {
    color: #FF7E1E;
    width: 1%;
    height: 0%;
    position: relative;
    bottom: 14%;
    left: 9%
}

.t {
    color: #FF7E1E;
    width: 1%;
    height: 0%;
    position: relative;
    bottom: 14%;
    left: 12%
}

.setaSearch {
    position: relative;
    bottom: 13%;
    left: 94%;
}

.dados input {
    height: 6vh;
    border-radius: 4px;
    border: none;
    background-color: #F7F7F7;
    padding: 1%;
}

.inputForm {
    width: 100%;
    position: relative;
    left: 0%;
    bottom: 7%;
    color: #EAEAEA;
    text-transform: uppercase;
    border-radius: 1px;
}

.link {
    height: 9vh;
    display: flex;
    justify-content: start;
}

.link div {
    width: 36%;
    display: flex;
    justify-content: start;
}

.link img {
    height: 4vh;
}

.link h3 {  
    font-family:'Inter', sans-serif ;
    font-size: 0.7rem;
    font-weight:600 ;
    text-transform: uppercase;
    color: #052014;
    position: relative;
    top: 3%;
    left: 4%;
}

.link p {
    width: 49%;
    font-family:'Inter', sans-serif ;
    font-size: 0.7rem;
    font-weight: 500;
    color: #FF7E1E;
    position: relative;
    top: 29%;
    right: 32%;
}

.link h4 {
    font-family:'Inter', sans-serif ;
    font-size: 0.7rem;
    font-weight:600 ;
    text-transform: uppercase;
    color: #052014;
    position: relative;
    top: 3%;
    left: 4%;
}

.link h5 {
    width: 49%;
    font-family:'Inter', sans-serif ;
    font-size: 0.7rem;
    font-weight: 500;
    color: #FF7E1E;
    position: relative;
    top: 29%;
    right: 16%;
}

.map {
    height: 66vh;
    width: 6%;
    position: relative;
    right: 16%;
}

.map img {
    width: 368%;
}